body {
    background-color: black;
}

#container {
    background-color: lightsteelblue;
    border: 5px solid #f5e4c3;
    height: 235px;
    width: 750px;
    margin: auto;
    text-align: center;
}

p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#input {
    width: 100px;
    margin: 25px auto;
}

#btn {
    margin: 25px auto auto 5px;
}